<div class="toolbar" role="banner">
    <img
        width="40"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>Welcome</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
    <mat-form-field appearance="fill" style="width: 400px">
        <mat-label>MIDI Output Devices</mat-label>
        <mat-select [formControl]="midiDevicesControl" multiple>
            <mat-option *ngFor="let device of midiOutputDevices" [value]="device">{{ device.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="card-container">
        <div class="section">
            <div class="section-title">Colors</div>
            <div class="button-wrapper">
                <button
                    *ngFor="let color of colors"
                    mat-raised-button
                    [color]="midiNoteStatusMap[color.channel] ? 'primary' : 'default'"
                    color="primary"
                    (click)="toggleMidi(color.channel)"
                >
                    {{ color.label }}
                </button>
            </div>
        </div>

        <div class="section">
            <div class="section-title">Animations</div>
            <div class="button-wrapper">
                <button
                    *ngFor="let animation of animations"
                    mat-raised-button
                    [color]="midiNoteStatusMap[animation.channel] ? 'primary' : 'default'"
                    color="primary"
                    (click)="toggleMidi(animation.channel)"
                >
                    {{ animation.label }}
                </button>
            </div>
        </div>

        <div class="section">
            <div class="section-title">Positions</div>
            <div class="button-wrapper">
                <button
                    *ngFor="let position of positions"
                    mat-raised-button
                    [color]="midiNoteStatusMap[position.channel] ? 'primary' : 'default'"
                    (click)="toggleMidi(position.channel)"
                >
                    {{ position.label }}
                </button>
            </div>
        </div>

        <div class="section">
            <div class="section-title">CC Controls</div>
            <div *ngFor="let ccControl of ccControls" class="range-wrapper">
                {{ ccControl.label }} (CC {{ ccControl.channel }})
                <mat-slider min="0" max="100" value="0" style="width: 300px; margin-left: 24px">
                    <input matSliderThumb (change)="changeCCValue(ccControl.channel, $event)" />
                    `</mat-slider
                >
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
